body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.row{
  display: flex;
}
.col{
  height: 70px;
  width: 70px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  cursor: pointer;
}